
<h2 class='title'>Look Salon Stylists</h2>

<%= link_to '+New stylist', new_stylist_path %>

<% for stylist in @stylists %>
  <div class='post'>
    <h2> <%=h stylist.name %></h2>
    <p class='byline'> Last Updated:<%=h stylist.updated_at %></p>
    <div class='entry'>
      <div class='bio_wrapper'>
        <h3>Bio:</h3>
        <p><%= stylist.bio %></p>
      </div>
      <div class='staff_photo_wrapper'>

      </div>
      <div class='entry_links'>
        <%= link_to "Show", stylist %> | 
        <%= link_to 'Edit', edit_stylist_path(stylist) %> | 
        <%= link_to 'Destroy', stylist, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  </div>

<% end %>

