<div id='right'>
  <%= render :partial=>'admin/admin_menu' %>
</div>
<div id='center'>
  <div class='boxed'>
    <h1 class='heading'>New Stylist</h1>
    <p>
      <% form_for(@stylist) do |f| %>
        <%= f.error_messages %>

 	<p>
 	  <%= f.label :name %><br />
 	  <%= f.text_field :name %>
 	</p>
 	<p>
 	  <%= f.label :image_id %><br />
	  <%= f.text_field :image_id %>
        </p>
	<p>
	  <%= f.label :message %><br />
	  <%= f.text_field :message %>
	</p>
	<p>
	  <%= f.submit "Create" %>
	</p>
      <% end %>
    </p>
    <%= link_to 'Back', stylists_path %>
  </div>
</div>
