<p>
  <b>Name:</b>
  <%=h @stylist.name %>
</p>

<p>
  <b>Image:</b>
  <%=h @stylist.image_id %>
</p>

<p>
  <b>Message:</b>
  <%=h @stylist.message %>
</p>


<%= link_to 'Edit', edit_stylist_path(@stylist) %> |
<%= link_to 'Back', stylists_path %>
