<h1>New image</h1>

  <p>
      <%= link_to (image_tag(@image.public_filename(:thumb)), @image.public_filename, :target=>:blank) %> <br />
  </p>
<% form_for(@image) do |f| %>
  <%= f.error_messages %>
  <p>
      Where on the site should this display?
    <%= f.text_field :location %>
    <br /> Use one of the following: [home, about, services, contact]
  </p>
  <p>
    <%= f.submit "Update location" %>
  </p>
<% end %>

<%= link_to 'Back', images_path %>
