#center
  .boxed
    %h1.heading
      Image Library
    %h4.teal
      > Photo Gallery 
      %br
      = link_to '+ Upload New Image', new_image_path
    %p
      %span.red
        NOTE:
      Any changes made here will be reflected on the live website.
    %h1.heading
      Photo Gallery

    .gallery_wrapper
      - for image in @images
        .image_wrapper
          .image
            = image_tag(image.public_filename(:thumb), :height=>100)
          %ul.actions
            %li
              = link_to ('Show', :action=>'show', :id => image) 
            %li
              = link_to ('Edit', :action=>'edit', :id => image) 
            %li
              = link_to ('Delete', image, :confirm=>"Are you sure?", :method => :delete ) 

    %p
      To review all photos, including those that do not appear in the web gallery click 
      = link_to 'here', :controller=> 'images', :action=>'display_all'
