<h1>New image</h1>

<% form_for(:image, :url=> images_path, :html=> {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <p>
      Where on the site should this display?
    <%= f.text_field :location %>
    <br /> Use one of the following: [home, about, services, contact]
  </p>
  <p>
    Upload your Image <br />
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= f.submit "Upload Image" %>
  </p>
<% end %>

<%= link_to 'Back', images_path %>
