.post
  %h2.subheader
    Image:
    = @image.filename
  .entry
    .entry_wrapper
      = render :partial=> 'display', :locals=> { :image=>@image }
    .image_location
      Image Location:
      %b
      = render :partial=>'img_library', :locals=>{:image=>@image}
.post
  %h1.title_green
    Image Libraries
  .byline
    Want to see more images...pick an Image Library to proceed
  .entry
    %ul.subheader
      %li      
        = link_to 'Display All', display_all_path
      %li      
        = link_to 'Photo Gallery', photo_gallery_path
