#center
  .boxed
    %h1.heading
      Image Summary
    %p
      Position:
      = @image.position
    %p
      -if @image 
        = link_to image_tag(@image.public_filename(:thumb)), @image.public_filename 
        %br
        = @image.caption
      - else 
        missing image
    %p
      = link_to 'Edit', edit_image_path(@image) 
      |
      = link_to 'Back', images_path 
      |
      = link_to 'Sort', :controller=>'admin', :action=>'gallery'
