
  <ul class='second_nav'>
    <% if controller.action_name=='about' && controller.controller_name=='info' %>
      <li id='current'>
        <%= link_to('About Us', :action=>'about') %> 
      </li>
    <% else %>
      <li>
        <%= link_to('About Us', :action=>'about') %>
      </li>
    <% end %>

    <% if controller.action_name=='philosophy' && controller.controller_name=='info' %>
      <li id='current'>
        <%= link_to('Our Philosophy', :action=>'philosophy') %>
      </li>
    <% else %>
      <li>
        <%= link_to('Our Philosophy', :action=>'philosophy') %>
      </li>
    <% end %>
    <%if controller.action_name == 'people' || controller.action_name=='staff' %>
      <li id='current'>
        <%= link_to('Meet Our Staff',  :action=>'people') %>
      </li>
    <% else %>
      <li>
        <%= link_to('Meet Our Staff',  :action=>'people') %>
      </li>
    <% end %>
  </ul>

