- p1=posts[0]
- p2=posts[1]
.boxed
  .bb_post
    .bb_small_image
      = image_tag 'small_1.jpg'
    .bb_title
      = p1.title[0,140] + '...'
      .link_wrap
        = image_tag 'arrow_small.jpg'
        - if p1.body
          = link_to 'more', p1.url
  .bb_post
    .bb_small_image
      = image_tag 'small_2.jpg'
    .bb_title
      = p2.title[0,140] + '...'
      .link_wrap
        = image_tag 'arrow_small.jpg'
        - if p2.body
          = link_to 'more', p2.url
