<h2 class='heading'> <span class='white'> Meet </span> Our <span class='white'>Staff </span></h2>

<div id='submenu_wrapper'>
  <%= render :partial=>'about_us' %>

</div>

  <p>
    Our wide range of unique talents help you find the designer right for your personal look.
  </p>
<div class='boxed'>
  <h3 class='subheading'>
      <%=h @stylist.name %>
  </h3>
  <div class='profile'>
    <div class='title'>
      <%=h @stylist.professional_title %>
    </div>
    <p class='bio'>
      <%=h @stylist.bio %>
    </p>
  </div>
<div class='back_link'>
  <%= link_to '<< Back', :controller=>'info', :action=>'people' %>
</div>
