- if current_page?(:controller=>'info', :action=>'about')
  = image_tag('/uploads/main2.jpg')

- if current_page?(:controller=>'info', :action=>'services')
  = image_tag('/uploads/main3.jpg')

- if current_page?(:controller=>'info', :action=>'show_service')
  = image_tag('/uploads/main2.jpg')

- if current_page?(:controller=>'info', :action=>'gallery')
  = image_tag('tls_main_logo.jpg')
- else
  = image_tag('tls_main_logo.jpg')

