<% items = [ "home","about", "services", "products", "promotions", "gallery", "appointments", "contact"] %>
<ul id='menu'>
<!-- INDEX -->
    <% if controller.controller_name=='info' && action_name == 'index' %>
      <li id='nav_home' > <%= link_to image_tag("nav/home_current.jpg")	, :controller=>"info", :action=>"index", :onclick=>:slide_image %></li>
    <% else %>
      <li id='nav_home' > <%= link_to image_tag("nav/home_main.jpg", :onmouseover=>"this.src='/images/nav/home_current.jpg'", :onmouseout=>"this.src='/images/nav/home_main.jpg'"  ), :controller=>"info", :action=>"index" %></li>
    <% end %>
<!-- ABOUT -->
    <% if action_name == 'about' %>
      <li id='nav_about' > <%= link_to image_tag("nav/about_current.jpg"), :controller=>'info', :action=>'about' %> </li>
    <% else %>
      <li id='nav_about' > <%= link_to image_tag("nav/about_main.jpg", :onmouseover=>"this.src='/images/nav/about_current.jpg'", :onmouseout=>"this.src='/images/nav/about_main.jpg'"  ), :controller=>'info', :action=>'about' %> </li>
    <% end %>

<!-- PRODUCTS -->
    <% if action_name == 'product' %>
      <li id='nav_product'> <%= link_to image_tag("nav/products_current.jpg"), :controller=>'info', :action=>'products' %> </li>
    <% else %>
      <li id='nav_product' > <%= link_to image_tag("nav/products_main.jpg", :onmouseover=>"this.src='/images/nav/products_current.jpg'", :onmouseout=>"this.src='/images/nav/products_main.jpg'"  ), :controller=>'info', :action=>'products' %> </li>
    <% end %> 

<!-- SERVICES -->
    <% if action_name == 'services' || action_name == 'show_service' %>
	  <li id='nav_service' > <%= link_to image_tag("nav/service_current.jpg"),:controller=>'info', :action=>'services' %> </li>
    <% else %>
	  <li id='nav_service' > <%= link_to image_tag("nav/service_main.jpg", :onmouseover=>"this.src='/images/nav/service_current.jpg'", :onmouseout=>"this.src='/images/nav/service_main.jpg'"  ), :controller=>'info', :action=>'services' %> </li>
    <% end %>

<!-- PROMOS -->
    <% if action_name == 'promotions' || action_name == 'show_promotions' %>
	  <li id='nav_promotions' > <%= link_to image_tag("nav/promotions_current.jpg"),:controller=>'info', :action=>'promotions' %> </li>
    <% else %>
	  <li id='nav_promotions' > <%= link_to image_tag("nav/promotions_main.jpg", :onmouseover=>"this.src='/images/nav/promotions_current.jpg'", :onmouseout=>"this.src='/images/nav/promotions_main.jpg'"  ), :controller=>'info', :action=>'promotions' %> </li>
    <% end %>
<!-- GALLERIES -->
    <% if action_name == 'gallery' || action_name == 'show_gallery' %>
	  <li id='nav_gallery' > <%= link_to image_tag("nav/gallery_current.jpg"),:controller=>'info', :action=>'gallery' %> </li>
    <% else %>
	  <li id='nav_gallery' > <%= link_to image_tag("nav/gallery_main.jpg", :onmouseover=>"this.src='/images/nav/gallery_current.jpg'", :onmouseout=>"this.src='/images/nav/gallery_main.jpg'"  ), :controller=>'info', :action=>'gallery' %> </li>
    <% end %>
<!-- APPOINTMENTS -->
    <% if action_name == 'appointments' || action_name == 'show_appointments' %>
	  <li id='nav_appointments' > <%= link_to image_tag("nav/appointments_current.jpg"), :controller=>'info', :action=>'appointments' %> </li> 
<!--	  <li id='nav_appointments' > <%= link_to image_tag("nav/appointments_current.jpg"), :controller=>'info', :action=>'appointments' %> </li> -->
    <% else %>
	  <li id='nav_appointments' > <%= link_to image_tag("nav/appointments_main.jpg", :onmouseover=>"this.src='/images/nav/appointments_current.jpg'", :onmouseout=>"this.src='/images/nav/appointments_main.jpg'"  ), :controller=>'info', :action=>'appointments' %> </li> 
    <% end %>

<!-- CONTACT -->
    <% if action_name == 'contact' %>
	  <li id='nav_contact' > <%= link_to image_tag("nav/contact_current.jpg"), :controller=>'info', :action=>'contact' %> </li>
    <% else %>
	  <li id='nav_contact' > <%= link_to image_tag("nav/contact_main.jpg", :onmouseover=>"this.src='/images/nav/contact_current.jpg'", :onmouseout=>"this.src='/images/nav/contact_main.jpg'"  ), :controller=>'info', :action=>'contact' %> </li>
    <% end %>
</ul>

