<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Admin Panel: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'admin' %>
</head>
<body>
<div id='admin_wrapper'>
  <p style="color: green"><%= flash[:notice] %></p>
  <% if logged_in? %>
    <div id='account_panel'>
      <%= link_to 'Log Out', :controller=>'account', :action=>'logout' %>
      <br />
      Logged in as: <b><%=h current_user.login %> </b>
    </div>
  <% end %>

  <%= render :partial=>'layouts/admin/nav' %>
  <div id='wrapper'>
    <%= yield  %>
    <div style='clear:both;'></div>
    
    <div id='footer'>
      <div id='general_info'>
        The Look Salon 12613 Nicollet Ave Burnsville, MN 55337 <br />
        Call us at: 952.746.7777
      </div>
      <div id='legal_notes'>
        Copyright © 2009 Look Salon. All Rights Reserved. 
      </div>
    </div>
    
  </div>
</div>
</body>
</html>
